In [1]:
import pandas as pd

In [3]:
data = pd.read_csv('../data/butterfly.csv')

In [4]:
data

     x    y
0    1  118
1    2   74
2    3   44
3    4   24
4    5   29
5    6   22
6    7   20
7    8   19
8    9   20
9   10   15
10  11   12
11  12   14
12  13    6
13  14   12
14  15    6
15  16    9
16  17    9
17  18    6
18  19   10
19  20   10
20  21   11
21  22    5
22  23    3
23  24    3